.PopNavbar  {
    background: #fdfbf7;
    /* border: 1px #999285 solid; */
    border-radius: 4px;
    margin: 40px;
    padding: 20px 40px;
}

.PopNavButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid red; */
}

.FilterButtons {
    display: flex;
}

.Button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Location {
    color: #026bb6;
}

.PopNavbar svg {
    width: 20px;
    height: 20px;
}
.PopNavButtons text {
    color: red;
}


.ViewBtn svg{
    color: #026bb6;    
}

.PopNavbar Button {
    border: none;
    color: #999285;
    background: transparent;
    border-radius: 10px;
    font-weight: 700;
}

.PopNavbar button:active {
    color: #026bb6;
    background: #b4adad;
}

.PopNavbar Button:hover {
    background: #eceae8;
    background-size: 200%;
    cursor: pointer;
    border-radius: 5px;
}


/* .PopNavbar Button img {
    background: #026bb6;
} */

@media only screen and (min-width: 960px) {
    /* All buttons on left side compile into one  */
}