.actions {
  border-radius: 25px;
  width: 130px;
  height: 3vh;
  color: rgb(135, 138, 140);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile svg:first-child {
  color: rgb(135, 138, 140);
  border-radius: 25px;

  position: relative;
  height: 4vh;
  width: 4vh;
}
.profile svg:first-child:hover {
  color: rgb(230, 230, 230);
  box-shadow: inset 300px 0 0 0 rgb(135, 138, 140);
}
.profile:hover {
  color: rgb(230, 230, 230);
}
.profile {
  border-radius: 25px;
}
