@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");

/*  */

.user {
  padding-top: 30px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.userSelect {
  height: 50px;
  background-color: white;
  border: rgb(135, 206, 235) solid 1px;
  width: 7vh;
  border-radius: 50px;
  transition: ease-out 0.5s;
  font-size: 2rem;
  outline: none;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1vh;
  color: rgb(135, 206, 235);
}
.container1 {
  background-color: white;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  height: 9vh;
}
.searchBar,
input {
  border-radius: 15px;
  padding-top: 2vh;
  width: 70vh;
}
[alt="reddit"] {
  padding-top: 4vh;
  padding-left: 4vh;
  height: 4vh;
}
.buttons {
  padding-top: 3vh;
  max-height: 6vh;
  display: flex;
  align-content: flex-end;
  padding-bottom: 1vh;
}
.dropdown svg:first-child {
  height: 3vh;
  background-color: rgb(218, 224, 230);
  color: rgb(135, 206, 235);
  border-radius: 50px;
  width: 3vh;
}
.dropdown svg:first-child:hover {
  background-color: white;
  color: rgb(135, 206, 235);
}
.searchBar {
  font-family: "Source Sans Pro", sans-serif;
  position: center;

  border-radius: 40px;
  padding: 4vh;
}
.search {
  height: 4vh;
}
.btn1 {
  color: rgb(135, 206, 235);
  box-shadow: inset 0 0 0 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  border: rgb(135, 206, 235) solid 1px;
  width: 100px;
  border-radius: 5px;
  transition: ease-out 0.5s;
  font-size: 2rem;
  outline: none;
}
.btn1:hover {
  color: white;
  box-shadow: inset 300px 0 0 0 rgb(135, 206, 235);
}
.btn2 {
  color: white;
  box-shadow: inset 0 0 0 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(135, 206, 235);
  border: white solid 1px;
  width: 100px;
  border-radius: 5px;
  transition: ease-out 0.5s;
  font-size: 1.5rem;
  outline: none;
}

.btn2:hover {
  color: rgb(135, 206, 235);
  box-shadow: inset 300px 0 0 0 white;
}
.userBox {
  position: relative;
}
.userBox label {
  position: absolute;

  display: flex;
  align-items: center;
  height: 100%;
}

@media (min-width: 600px) {
  .container {
    font-size: 1.5rem;
  }
}
