.CommLinkArea {
    border: 1px solid green;
    box-sizing: content-box;
    width: 316px;
    height: 50px;
  }
  .linksArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  