@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.LinkSidebar{
    background-color: white;
    font-family: "Roboto";
    font-size: 13px;
    padding-left: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 48%;
    border-radius: 0.3em;
    border: solid lightgray;
    margin-left: 4%;
}
.LinksList{
    display: flex;
    flex-direction: row;
}
.LinksList2{
    margin-left: 40px;
}
.RedditRights{
    margin-top: 25px;
}
#LinksList{
    padding: 3px;
}

@media (max-width: 680px) {
    .LinkSidebar{
        display: none;
    }
}

