.feed-box *{ margin:0; box-sizing:border-box; }

/* container */
  .feed-box{
    display: flex;
    background-color: rgb(255, 255, 255, 1);
    width: 40em;
    height: auto;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.feed-box-wrapper{
    flex-wrap: wrap;
}
/* right side wrapper */
.feed-right-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 10px 0px 10px;
}

.feed-right-top{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.feed-award{
    display: flex;
}

.feed-sidebar{
    background-color: rgb(248, 249, 250, 1);
    height: auto;
    text-align: center;
}
/* join button */
.join{
    background-color: rgb(0, 121, 211, 1);
    color: white;
    font-weight: bold;
    border-radius: 9999px;
    display: flex;
}
.feed-main, .feed-bottom-bar{
    text-align: left;
    padding: 5px 0px;
}
.feed-bottom-bar{
    display: flex;
    padding-bottom: 0;
}
.botButton, .feed-award-button{
    height: 25px;
    background-color: transparent;
    border: none;
}
.botButton:hover, .upArrow:hover, .downArrow:hover, .feed-award-button:hover{
    background-color: lightgray;
    border-radius: 9999px;
}
.upArrow, .downArrow{
    background-color: transparent;
    border: none;
    font-size: 1.8em;
}

.join, .botButton, .upArrow, .downArrow, .feed-award-button{
    outline: none;
    text-decoration: none;
}
.feed-span{
    color:grey;
    font-weight: lighter;
    font-size: 0.7em;
    padding: 2px 5px 0px 5px;
}
.feed-logo{
    height: 2em;
    width: 2em;
    display: flex; 
}
.feed-com-post{
    display: flex;
}
.feed-top-text{
    padding: 0px 5px 0px 5px;
}
.Awards-all{
    display: flex;
}
.feed-main{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#newImage{
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .feed-box{
        width: auto;
    }
}