@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.communitylogos{
    height: 70%;
    width: 80%;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex; 
}
.sidebarcommunity{
    width:19%; 
    margin-left: 65%;
    margin-top: 10%;
}
.communitytitle{
    text-align: left;
    font-family: "Roboto";
    color: white;
    font-size: 16px;
    padding-left: 5%;
    padding-top: 18%;
    padding-right: 15%;
    padding-bottom: 2%;
    border-radius: 0.3em;
    background-color:teal;  
    border: solid grey;
}
.listcontcom{
    width: 21%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 8px;

}
.communityArea{
    display: flex;     
}
.communitytext{
    padding-left: 43px;
    color: black;
    font-family: "Roboto";
    font-size: 14px;
}
.communitycont{
    border: solid grey;
    border-radius: 0.3em;
    margin-top: -15px;
}
.communityviewAll{
    width: 230px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 2em;
    background-color: rgb(0, 121, 211, 1);
    border-color: rgb(0, 113, 253);
    color: white;   
    font-weight: bold;
    font-size: 13px;
    font-family: "Roboto";

}
.comviewAllcontainer{
    display: flex;
    justify-content: space-evenly;
}
.communitySidebarContainer{
    height: 40px;
}
 
.communityTagscontainer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.communityTag{
    border: lightgray;
    color:rgb(0, 121, 211, 1);
    font-family: "Roboto";
    font-weight:bolder ;
    border-radius: 10px;
    padding: 5px;
}

.communityviewAll:hover, .communityTag:hover{
    color: lightgray;
}
